<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fantomit.zwalkowepegle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission android:name="fantomit.zwalkowepegle.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="fantomit.zwalkowepegle.permission.C2D_MESSAGE" />

    <application
        android:name=".ZwalkiApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_apk"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RiverStations"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".StationDetails"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".Settings"
            android:label="Ustawienia" />


        <receiver
            android:name=".receivers.FavsDownloadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="akcja" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="notify" />
            </intent-filter>
        </receiver>

        <service android:name=".services.FavsDownloadService" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service android:name=".gcm.RegistrationIntentService"
            android:exported="false"/>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="PRIVATE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="PRIVATE" />
    </application>

</manifest>